.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
}

h3 {
  margin: 5px 12px;
}

section {
  flex: 1;
}

section:nth-child(1) {
  background-color: aliceblue;
  border-right: 1px solid #ccc;
}

button {
  margin: 6px;
  padding: 6px 10px;
}
